.footer {
	max-width: 100vw;
	width: 100%;
	height: 78px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10%;
    box-sizing: border-box;
    margin-bottom: 100px;
    &__logo {
    	cursor: pointer;
    }
    &__end {
    	display: flex;
    	align-items: center;
    }
    &__menu {
		max-width: 350px;
		width: 100%;
		color: #2F281E;
		font-family: 'Mulish', sans-serif;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 28px; /* 150% */
		cursor: pointer;
		display: flex;
		justify-content: center;
		cursor: pointer;

		& li {
		display: inline-block;
		}

		& a {
		color: #2F281E;
		text-decoration: none;
		}
	}
}
.projects {
	margin-right: 20px;
	&:hover {
		color: #686666;
	}
}
.contact {
	&:hover {
		color: #686666;
	}
}
.icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 95px;
}