.small-container {
	color: $main-txt-color;
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
	width: 190px;
	line-height: 28px;
}
.large-bold {
	color: $main-txt-color;
	font-family: 'Mulish', sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
}
.medium-bold {
	color: $main-txt-color;
	font-family: 'Mulish', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
}
.regular-small {
	color: $main-txt-color;
	font-family: 'Mulish', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 300;
}