.header{
    width:100vw;
    height:78px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    box-sizing:border-box
}
.header__logo{
    cursor:pointer
}
.header__menu{
    width:350px;
    color:#2F281E;
    font-family:"Mulish",sans-serif;
    font-size:14px;
    font-style:normal;
    font-weight:700;
    line-height:28px;
    cursor:pointer;
    display:flex;
    justify-content:flex-end;
    cursor:pointer
}
.header__menu li{
    display:inline-block
}
.header__menu a{
    color:#2F281E;
    text-decoration:none
}
.projects{
    margin-right:20px
}
.projects:hover{
    color:#686666
}
.contact:hover{
    color:#686666
}